# Allowlisting gitignore template for GO projects prevents us
# from adding various unwanted local files, such as generated
# files, developer configurations or IDE-specific files etc.
#
# Recommended: Go.AllowList.gitignore

# Ignore everything
*

# Especially these
.vscode/
**/.vscode/
node_modules/
**/node_modules/
/test*
.idea/
# and others
/go.work.sum
/secp256k1/
cmd/benchmark/external
cmd/benchmark/data
# But not these files...
!/.gitignore
!*.go
!go.sum
!go.mod
!*.md
!LICENSE
!*.sh
!Makefile
!*.json
!*.pdf
!*.csv
!*.py
!*.mediawiki
!*.did
!*.rs
!*.toml
!*.file
!.gitkeep
!pkg/eth/**
!*.h
!*.c
!*.proto
!bundleData
!*.item
!*.bin
!*.yml
!*.yaml
!*.tmpl
!*.s
!*.asm
!.gitmodules
!*.txt
!*.sum
!pkg/version
!*.service
!*.benc
!*.png
!*.adoc
!*.js
!*.bash
!PATENTS
!*.css
!*.ts
!*.html
!*.lock
!*.nix
!license
!readme
!*.ico
!*.xml
!.gitignore
!version
!out.jsonl
!strfry.conf
!config.toml
!*.jsx
!*.tsx
!bun.lock
!*.svelte
!.github/**
!.github/workflows/**
!app/web/dist/**
!app/web/dist/*.js
!app/web/dist/*.js.map
!app/web/dist/*.css
!app/web/dist/*.html
!app/web/dist/*.ico
!app/web/dist/*.png
!app/web/dist/*.svg
!Dockerfile*
!.dockerignore
!libsecp256k1.so
# ...even if they are in subdirectories
!*/
/blocklist.json
/gui/gui/main.wasm
/gui/gui/index.html
pkg/database/testrealy
/ctxproxy.config.yml
cmd/benchmark/external/**
private*
pkg/protocol/directory-client/node_modules

# Build outputs
build/orly-*
build/libsecp256k1-*
build/SHA256SUMS-*

cmd/benchmark/data