<app-deriving-modal #derivingModal></app-deriving-modal>

<div class="sam-text-header">
  <span class="brand">Smesh Signer</span>
</div>

<div class="content-login-vault">
  <div class="sam-flex-column gap" style="align-items: center">
    <div class="logo-frame">
      <img src="logo.svg" height="120" width="120" alt="" />
    </div>

    <div class="sam-mt-2 input-group">
      <input
        #passwordInputElement
        type="password"
        class="form-control"
        placeholder="vault password"
        [(ngModel)]="loginPassword"
        (keyup.enter)="loginPassword && loginVault()"
      />
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="toggleType(passwordInputElement)"
      >
        <i
          class="bi bi-eye"
          [class.bi-eye]="passwordInputElement.type === 'password'"
          [class.bi-eye-slash]="passwordInputElement.type === 'text'"
        ></i>
      </button>
    </div>

    <button
      [disabled]="!loginPassword"
      type="button"
      class="sam-mt btn btn-primary"
      (click)="loginVault()"
    >
      <div class="sam-flex-row gap-h">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Sign in</span>
      </div>
    </button>
  </div>
</div>

<div class="bottom-links">
  <button
    type="button"
    class="link-btn"
    (click)="router.navigateByUrl('/vault-import')"
  >
    Import a different vault
  </button>

  <button
    class="link-btn danger"
    (click)="
      confirm.show(
        'Do you really want to reset the extension? All data will be lost.',
        onClickResetExtension.bind(this)
      )
    "
    type="button"
  >
    Reset Extension
  </button>
</div>

<!----------->
<!-- ALERT -->
<!----------->
@if(showInvalidPasswordAlert) {
<div style="position: absolute; bottom: 0; align-self: center">
  <div class="alert alert-danger sam-flex-row gap" role="alert">
    <i class="bi bi-exclamation-triangle"></i>
    <span>Invalid password</span>
  </div>
</div>
}

<lib-confirm #confirm> </lib-confirm>
