<div class="vertically-centered">
  <div class="sam-flex-column center">
    <div class="sam-flex-column gap" style="align-items: center">
      <span class="title">Smesh Signer</span>

      <div class="logo-frame">
        <img src="logo.svg" height="120" width="120" alt="" />
      </div>

      <button
        type="button"
        class="sam-mt-2 btn btn-primary"
        (click)="router.navigateByUrl('/vault-create/new')"
      >
        <div class="sam-flex-row gap-h">
          <i class="bi bi-plus-circle" style="height: 22px"></i>
          <span>Create a new vault</span>
        </div>
      </button>

      <span class="sam-text-muted">or</span>

      @if (snapshots.length > 0) {
        <select class="form-select sam-text-sm" [(ngModel)]="selectedSnapshot">
          @for (snapshot of snapshots; track snapshot) {
            <option [ngValue]="snapshot">
              {{ snapshot.fileName }}
            </option>
          }
        </select>

        <button
          [disabled]="!selectedSnapshot"
          class="btn btn-primary"
          (click)="onClickImport()"
        >
          Import selected vault
        </button>
      } @else {
        <span class="sam-text-muted sam-text-sm">No vault snapshots available</span>
      }

      <button
        type="button"
        class="btn btn-secondary"
        (click)="openOptionsPage()"
      >
        Import vault snapshot
      </button>
    </div>
  </div>
</div>
