<div class="tab-content">
  <router-outlet></router-outlet>
</div>

<div class="tabs">
  <a class="tab" routerLink="/home/identity" routerLinkActive="active" title="You">
    <span class="emoji">👤</span>
  </a>

  <a class="tab" routerLink="/home/identities" routerLinkActive="active" title="Identities">
    <span class="emoji">👥</span>
  </a>

  <a class="tab" routerLink="/home/wallet" routerLinkActive="active" title="Wallet">
    <span class="emoji">💰</span>
  </a>

  <a class="tab" routerLink="/home/bookmarks" routerLinkActive="active" title="Bookmarks">
    <span class="emoji">🔖</span>
  </a>

  <a class="tab" routerLink="/home/settings" routerLinkActive="active" title="Settings">
    <span class="emoji">⚙️</span>
  </a>
</div>
